matplotlib
numpy
pandas
torch
torchvision 
torchaudio --index-url https://download.pytorch.org/whl/cu128
snntorch
nir
nirtorch
torchinfo
fastapi
uvicorn
python-multipart

# Testing
pytest
pytest-asyncio
httpx
